<template>
    <div class="{{ ComponentName }}-com-wrap">
        <!-- Your content -->
    </div>
</template>
<script lang="ts" setup>
</script>

<style lang="scss" scoped>
.{{ ComponentName }}-com-wrap {

}
</style>
